<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Web Interface</title>
</head>
<body>
    <h1>Chat with GPT</h1>
    <form method="post">
        <textarea name="prompt" rows="4" cols="50" placeholder="Enter your prompt here..."></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <h2>Prompt:</h2>
    <p>{{ prompt }}</p>
    <h2>Response:</h2>
    <p>{{ response }}</p>
    <h3>Frequency of Genomic Features on Chromosomes</h3>
    <!--<img src="data:image/png;base64,{{ plot_url }}">-->
    <img src="../static/images/chr1.png">
    <img src="../static/images/chr2.png">
    <img src="../static/images/chr3.png">
    <img src="../static/images/chr4.png">
    <img src="../static/images/chr5.png">
    <img src="../static/images/chr6.png">
    <img src="../static/images/chr7.png">
    <img src="../static/images/chr8.png">
    <img src="../static/images/chr9.png">
    <img src="../static/images/chr10.png">
    <img src="../static/images/chr11.png">
    <img src="../static/images/chr12.png">
    <img src="../static/images/chr13.png">
    <img src="../static/images/chr14.png">
    <img src="../static/images/chr15.png">
    <img src="../static/images/chr16.png">
    <img src="../static/images/chr17.png">
    <img src="../static/images/chr18.png">
    <img src="../static/images/chr19.png">
    <img src="../static/images/chr20.png">
    <img src="../static/images/chr21.png">
    <img src="../static/images/chr22.png">
    <img src="../static/images/chrX.png">
    <img src="../static/images/chrY.png">
    <img src="../static/images/chrMT.png">
</body>
</html>
